<widget id="A6054427094226" version="0.0.1">
    <name>
        YooHooHoo
    </name>
    <description>
        Example For APICloud.
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        Developer
    </author>
    <content src="index.html">
    </content>
    <access origin="*">
    </access>
    <preference name="pageBounce" value="false">
    </preference>
    <preference name="appBackground" value="rgba(0,0,0,0.0)">
    </preference>
    <preference name="windowBackground" value="rgba(0,0,0,0.0)">
    </preference>
    <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)">
    </preference>
    <preference name="hScrollBarEnabled" value="true">
    </preference>
    <preference name="vScrollBarEnabled" value="true">
    </preference>
    <preference name="autoLaunch" value="true">
    </preference>
    <preference name="fullScreen" value="false">
    </preference>
    <preference name="autoUpdate" value="true">
    </preference>
    <preference name="smartUpdate" value="false">
    </preference>
    <preference name="debug" value="true">
    </preference>
    <preference name="statusBarAppearance" value="true">
    </preference>
    <permission name="readPhoneState">
    </permission>
    <permission name="camera">
    </permission>
    <permission name="record">
    </permission>
    <preference name="backgroundMode" value="audio | location">
    </preference>
    <permission name="fileSystem">
    </permission>
    <permission name="internet">
    </permission>
    <permission name="bootCompleted">
    </permission>
    <permission name="hardware">
    </permission>
    <feature name="aMap">
        <param name="android_api_key" value="bb9767f40e8feb1931f0ad565347cab7">
        </param>
        <param name="ios_api_key" value="f0b4ef5fd3dde36eb6a1994e44e8df4e">
        </param>
    </feature>
</widget>
